<h1>This Reservation</h1>


<% if @reservation.nil?%>
<% No reservation %>
<%else%>
  <% reserved_listing = @reservation.listing %>
  <table>
     <tr>
       <th>Description</th>
       <th>Address</th>
       <th>Price</th>
       <th>Start Date</th>
       <th>End Date</th>
     </tr>
     <tr>

        <td><%=reserved_listing.description %></td>
        <td><%=reserved_listing.address %></td>
        <td><%=reserved_listing.price %></td>
        <td><%=@reservation.start_date %></td>
        <td><%=@reservation.end_date %></td>
     </tr>  
  </table>

  <%= button_to "Cancel Reservation", listing_reservation_path(@reservation.listing.id,@reservation.id) , method: :delete %>

  <%if @reservation.book == false %>
  <p>Please pay below </p>

  <%= render partial:  '/transactions/form' %>
  <%else%>
  <p>You have paid</p>
  <%end%>

<% end -%>